# Example service file for the active_users script
# Emphasizes required keys and minimal additional configuration
# and expects the standard gateway operator file paths
# Should share aws access keys with the ones provided to wrapper script

[Unit]
Description=Job that starts the Active Users Script

[Service]
User=elixxir
Type=simple
ExecStart=/opt/xxnetwork/active_users.py --pass "" --aws-key "" --aws-secret ""

[Install]
WantedBy=multi-user.target
